{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<style>
  input{
    background:white !important;
  }
</style>
{% endblock %}
{% block main %}
  <div class="page-content">
    <div class="card">
      <div class="card-header">Login</div>
      <div class="card-content card-content-padding">
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
          {% else %}
            <p>Please login to see this page.</p>
          {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>{{ form }}</table>
          <input type="hidden" name="next" value="{{ next }}" />
          <input type="submit" value="Login" class="" />
        </form>
        <p>
          <a href="{% url 'password_reset' %}">Lost password?</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
