{% extends "main/base.html" %}
{% load main_extras %}
{% block head %}
<style>
    #code_input{
        font-size:2.5em;
        background-color:white;
        border: thin solid grey;
        text-align:center;
        width: 100%;
        font-family:'Courier New', Courier, monospace;
        letter-spacing: 0.5em;
        text-transform: uppercase;
    }
    .error{
        font-size:1.5em;
        color: red;
    }
</style>
{% endblock head %}



{% block main %}
<div class="page-content">
    <div class="block" style="text-align:center;"><b>Scripter</b> is a fast and easy way to create and share screenplays online.</div>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block script %}
<script>
    readyActions = function(){
        console.log("running INDEX ReadyActions")
    }

    function editNow(){
        let code = $$("#code_input").val();
        code = code.trim().toUpperCase();
        code = code.replace(/\W/g, '')
        if(code && code != ""){
            console.log("going to:", code)
            window.location.href = "/"+code;
        }
    }

    $$("#editnow").on("click", function(){
        editNow();
    });

    $$("#code_input").on("keyup", function(e){
        console.log("keyup", e)
        if(e.keyCode==13 || e.key=="Enter"){
            editNow();
        }
    });

</script>
{% endblock script %}