{% extends "main/base.html" %}
{% load main_extras %}

{% block main %}
<div class="page-content">
    <div class="block">
        
        <h2>Scripter Privacy Policy</h2>
      <h3>Your privacy is critically important to us.</h3>

      <p>Our privacy policy is simple. We don't share any of your information with anybody, ever. Logging into our system gives us your email and your name. That's where it ends. We don't use that login information for any other purposes whatsoever, nor will we ever in the future.</p>
      <p>There are no permanent logs, nor any traffic-analysis systems. Your personal information is, and remains, yours alone.</p>

      <h2>Credit & Contact Information</h2>
      If you have any questions about this Privacy Policy, please contact us via <a href="mailto:david@drhmedia.net">email</a>.</p>

    </div>
</div>
{% endblock main %}

{% block script %}
<script>
    readyActions = function(){
        console.log("runninig {{ title }} ReadyActions")
    }
</script>
{% endblock script %}